#过滤各种不需要的文件

/.vs/*
/.git/*

/xhg/*
/classic/*
/mwy/*
/slk/*

/LuaSTGExPlus/.vs/*
/LuaSTGExPlus/build/*

/LuaSTGExPlus/luajit/backup/*

/LuaSTGExPlus/zlib/build/*

/LuaSTGExPlus/DirectShowClass/build/*

/LuaSTGExPlus/fancylib/build/*

/LuaSTGExPlus/fancy2D/build/*

/LuaSTGExPlus/TCPIP/build/*

/LuaSTGExPlus/SimpleServer/bin/*
/LuaSTGExPlus/SimpleServer/obj/*

/LuaSTGExPlus/TexturedFontEditor/bin/*
/LuaSTGExPlus/TexturedFontEditor/obj/*

#XMath过滤
/LuaSTGExPlus/XMath/build/*

#Eyes2D过滤
/LuaSTGExPlus/Eyes2D/build/*
/LuaSTGExPlus/Eyes2D/Debug/*
/LuaSTGExPlus/Eyes2D/Release/*
/LuaSTGExPlus/Eyes2DTest/Debug/*
/LuaSTGExPlus/Eyes2DTest/Release/*

#DXSDK过滤
/LuaSTGExPlus/DXSDK/*
!/LuaSTGExPlus/DXSDK/readme.txt

#libvorbis过滤
/LuaSTGExPlus/libvorbis/*
!/LuaSTGExPlus/libvorbis/readme.txt

#libogg过滤
/LuaSTGExPlus/libogg/*
!/LuaSTGExPlus/libogg/readme.txt

#freetype过滤
/LuaSTGExPlus/freetype/*
!/LuaSTGExPlus/freetype/readme.txt

#libz libzip
/LuaSTGExPlus/libz/*
!/LuaSTGExPlus/libz/readme.txt
/LuaSTGExPlus/libzip/*
!/LuaSTGExPlus/libzip/readme.txt

#luaextend过滤
/LuaSTGExPlus/luafilesystem/*
!/LuaSTGExPlus/luafilesystem/readme.txt
/LuaSTGExPlus/luacjson/*
!/LuaSTGExPlus/luacjson/readme.txt
/LuaSTGExPlus/luasocket/*
!/LuaSTGExPlus/luasocket/readme.txt
/LuaSTGExPlus/LuaExtend/build/*

#CSharp
/LuaSTGExPlus/CSharpTest/bin/*
/LuaSTGExPlus/CSharpTest/obj/*