#过滤各种不需要的文件

/.vs/*
/.git/*
/fancy2d/*

/LuaSTGExPlus/.vs/*
/LuaSTGExPlus/build/*
/LuaSTGExPlus/luajit/backup/*
/LuaSTGExPlus/zlib/build/dir/*
/LuaSTGExPlus/libogg/build/dir/*
/LuaSTGExPlus/libvorbis/build/dir/*
/LuaSTGExPlus/freetype/build/dir/*
/LuaSTGExPlus/DirectShowClass/build/dir/*
/LuaSTGExPlus/fancylib/build/dir/*
/LuaSTGExPlus/fancy2D/build/dir/*
