#过滤各种不需要的文件

/.vs/*
/.git/*

/xhg/*
/classic/*
/mwy/*
/slk/*
/sjf/*
/eis/*
/yqg/*
/ykj/*

/LuaSTGExPlus/LuaSTG/MyResourcePassword.cpp

/LuaSTGExPlus/.vs/*
/LuaSTGExPlus/build/*

/LuaSTGExPlus/DirectShowClass/build/*
/LuaSTGExPlus/fancylib/build/*
/LuaSTGExPlus/fancy2D/build/*
/LuaSTGExPlus/Eyes2D/build/*

/LuaSTGExPlus/TexturedFontEditor/bin/*
/LuaSTGExPlus/TexturedFontEditor/obj/*

#luaextend过滤
/LuaSTGExPlus/luafilesystem/*
!/LuaSTGExPlus/luafilesystem/readme.txt
/LuaSTGExPlus/luacjson/*
!/LuaSTGExPlus/luacjson/readme.txt
/LuaSTGExPlus/luasocket/*
!/LuaSTGExPlus/luasocket/readme.txt
/LuaSTGExPlus/LuaExtend/build/*

#第三方库
/LuaSTGExPlus/prebuild/*
/LuaSTGExPlus/SteamAPI/*
